.students_list_view{
  display: flex;
  justify-content: center;
  flex-direction: column;
  .upload-buttons{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
