<div class="students_list_view">
  <div class="upload-file">
    Upload students list:
  </div>
  <div class="upload-buttons">
    <button type="button" mat-raised-button [ngClass]="{'button-dark': darkModeActive}" (click)="fileInput.click()">
      Choose File
    </button>
    <input hidden #fileInput (change)="fileChanged($event)" type="file" id="file">
    <span [innerHTML]="fileName"></span>
    <button type="button" mat-raised-button [ngClass]="{'button-dark': darkModeActive}" (click)="uploadFile()">Submit
    </button>
  </div>
  <mat-form-field [ngClass]="{'filter-dark': darkModeActive}">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div class="example-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [ngClass]="{'mat-table-dark': darkModeActive}">

      <ng-container matColumnDef="id">
        <mat-header-cell style="min-width:100px" *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <mat-header-cell style="min-width:100px" *matHeaderCellDef>First Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell style="min-width:150px" *matHeaderCellDef>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let detail">
          {{detail.element.groups}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let element; columns: displayedColumns;"
               matRipple
               class="element-row"
               (click)="toggleRow(element)"></mat-row>

      <mat-row *matRowDef="let element; columns: ['expandedDetail']; when: isExpansionDetailRow"
               [@detailExpand]="element.show ? 'expanded' : 'collapsed'"
               style="overflow: hidden">
      </mat-row>
    </table>
  </div>
  <button mat-raised-button (click)="exportToCsv()">Export list</button>

  <button mat-raised-button *ngIf="formHidden" (click)="addNewStudent()">Add new student</button>

  <div class="new-student">
    <div class="container" *ngIf="!formHidden">
      <div>
        <h1>Student form</h1>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="index" type="number" class="form-control" id="index"
                     required
                     [(ngModel)]="student.id" name="index">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="card id" type="text" class="form-control" id="card-id"
                     required
                     [(ngModel)]="student.cardId" name="card-id">
            </mat-form-field>
            <button type=button mat-raised-button (click)="getRecentCardId()">Get cardID</button>
          </div>

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Fist name" class="form-control" id="name"
                     required
                     [(ngModel)]="student.firstName" name="name">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Last name" class="form-control" id="lastName"
                     required
                     [(ngModel)]="student.lastName" name="lastName">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Group</mat-label>
              <mat-select class="form-control" id="group"
                          required
                          [(ngModel)]="student.groups" name="group">
                <mat-option *ngFor="let gr of groups" [value]="gr">{{gr}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <button type="submit" mat-raised-button [disabled]="!heroForm.form.valid">Submit</button>
        </form>
      </div>

    </div>
  </div>
</div>
