<div class="row">
  <div>
    <div [ngClass]="{'dark-mode': darkModeActive}">
      <button
        mat-raised-button
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)"
      >
        <
      </button>
      <button
        mat-raised-button
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)"
      >
        Today
      </button>
      <button
        mat-raised-button
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)"
      >
        >
      </button>
    </div>
  </div>
  <div>
    <h3 style="font-weight: normal;">{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h3>
  </div>
  <div>
    <div [ngClass]="{'dark-mode': darkModeActive}">
      <button
        mat-raised-button
        (click)="viewChange.emit('week')"
        [class.active]="view === 'week'"
      >
        Week
      </button>
      <button
        mat-raised-button
        (click)="viewChange.emit('day')"
        [class.active]="view === 'day'"
      >
        Day
      </button>
    </div>
  </div>
</div>
<br/>
