<div class="attendance_table">
  <div class="class-info">
    <span>{{className}}</span>
    <span>{{classGroupName}}</span>
    <span>{{classStartDate | date}}</span>
    <div class="class-time">
      <span>{{classStartDate | date : 'shortTime'}}</span>-<span>{{classEndDate | date : 'shortTime'}}</span>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [ngClass]="{'mat-table-dark': darkModeActive}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell style="min-width: 50px;" *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell style="min-width: 150px;" *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell style="min-width: 100px;" *matHeaderCellDef> First Name</th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell style="min-width: 200px;" *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef> Group</th>
      <td mat-cell *matCellDef="let element"> {{element.group}} </td>
    </ng-container>

    <ng-container matColumnDef="isPresent">
      <th mat-header-cell *matHeaderCellDef> Present</th>
      <td mat-cell *matCellDef="let element"> {{element.isPresent}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
  <button
    mat-raised-button
    (click)="updateRecentLabs()"
  >Save
  </button>
</div>
